body {
  width: 300px;
  height: 260px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 15px 7px;
  border: 3px solid lavender;
  position: relative;
}
